body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.searchTool{
  text-align: center;
}
.dasbBoardh1{
  text-align: center;
}
.footer {
  position: absolute;
  left: 0;
  min-height: vh100;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}
