.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.list-group-item {
  color: black;
}

.carousel {
  width: 20%;
  padding: 10px;
}

.searchH3 {
 text-align: center;
}

.card {
width: 18rem;
}

.sale-pop-up {
  width: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.pbox{
  z-index: 999999;
  display: none;
  min-width: 220px;
  min-height: 10px;
  padding: 2px;
  background-color: white;
  border: 2px solid #444;
  border-radius: 5px;
}
.popupbox:hover ~ .pbox{
display: block;
}
