.AwesomePin{
    position: relative;
color: rgba(233, 116, 6, 0.8);
text-shadow:
2px 1px 0 #555,
-1px -1px 0 #555,  
1px -1px 0 #555,
-1px 1px 0 #555,
1px 1px 0 #555;

font-size: 3em;
}

.AwesomePin:hover::after {
    content: " ";
    position: absolute;
    width: 150px;
    min-height: 150px;
    background-color: #ccc;
    border: 2px solid #666;
    border-radius: 5px;

}

