.splashInfo {
    justify-content: center;
}

.jumbotron {
   background: transparent;    
   justify-content: center;
}

body {
    background-size: cover;
    text-align: center;
    font-family: 'Domine', serif;
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-tong-019-chim-02_1_0.jpg?auto=format&bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-1.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1200&s=da7ed7f89eb7f857efdc8ba7f01af33b)
}

.card {
    justify-content: center;
}

.splashh1 {
justify-content: center;
font-family: 'Modak', cursive;

}

.splashh2 {
    justify-content: center;
    font-family: 'Patua One', cursive;

    }

p {
    font-family: 'Domine', serif;
    }

