.splashInfo {
    justify-content: center;
}

.jumbotron {
  background: transparent;
   justify-content: center;
}

body {
    background-size: cover;
    text-align: center;
    font-family: 'Domine', serif;
    background-image: url(https://image.freepik.com/free-psd/white-wood-texture-background-design_1022-75.jpg);
    max-height: vh100;
}

.card {
    justify-content: center;
}

.splashh1 {
justify-content: center;
font-family: 'Modak', cursive;

}

.splashh2 {
    justify-content: center;
    font-family: 'Patua One', cursive;

    }

p {
    font-family: 'Domine', serif;
    }

